@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
  }

  /* Universal Style */


/* Common Styles */
.display-flex {
    display: flex;
}
/* Dark 1 */
.text-black{
    color: #131313;
}
    /* Dark 02 */
.text-gray{
    color: #424242;
}
    /* Dark 03 */
.text-light-gray{
    color: #727272;
}
.bg-light{
    background-color: #FF900E1A;
}
.text-orange{
    color: #FF900E;
}
.section-title{
    font-size: 2.8rem;
    margin: 0;
}

/* Header */

/* Nav styles */
.brand{
    font-weight: bold;
    font-size: 3rem;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link {
   text-decoration: none;
    font-weight: 500;
}
.navbar, .banner{
    max-width: 1400px;
    margin: 0 auto;
}

/* Banner Styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}
.banner-img{
    width: 100%;
}

/* main */
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
/* Team Styles */
.teams{
    align-items: center;
}
.team-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.team-features{
    margin-left: 130px;
    max-width: 530px;
}
#quick-list{
    font-weight: 500;
}
.team-feature-description{
    margin-bottom: 32px;
}

/* Work Space Feature Styles */


/* Some Facts Styles */
.fact-cards{
    width: 1300px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.value{
    font-size: 2.8rem;
    font-weight: 600;
    margin: 5px;
}
.fact-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}




/* Responsive Media Query */
@media screen and (max-width: 576px) {
    .navbar {
        /* display: flex; */
        flex-direction: column;
    }
    .teams{
        flex-direction: column-reverse;
    }
    .team-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .team-features{
        margin: 10px;
        text-align: center;
    }
    .team-feature-description{
        padding: 10px;
    }
}